/*------------------------------------*\
    #HORIZONTAL
\*------------------------------------*/

.booking-theme-horizontal {

    .booking-top {

        @media #{$booking-lap-and-up} {

            > .booking-layout__item {
                width: 20%;
            }

        }

    }

    .booking-bottom {

        @media #{$booking-lap-and-up} {

            > .booking-layout__item {
                width: 20%;
            }

            .booking-control {
                margin-bottom: 0;
            }

        }

    }

    .booking-cabin {

       @media #{$booking-lap-and-up} {
            display: block;
            width: 100%;
        }

    }

    .booking-passengers {

        .booking-control {
            margin-bottom: 0;
        }

        @media #{$booking-palm} {
            width: 33.33333%;

            .booking-layout__item {
                margin-bottom: $booking-column-gutter;
            }

        }

        @media #{$booking-lap-and-up} {

            .booking-layout__item {
                width: 50%;
                text-align: right;
            }

        }

    }

}
