/*------------------------------------*\
    #DATEPICKER
\*------------------------------------*/

/**
 * Datepicker theme for jQuery UI v1.11.2
 * http://jqueryui.com
 * Copyright 2014 jQuery Foundation and other contributors; Licensed MIT
 */

$booking-datepicker-bg: #fff !default;
$booking-datepicker-shadow: 0 1px 2px rgba(#000, .3) !default;

$booking-datepicker-header-bg: linear-gradient(#0060aa, #004d85) !default;
$booking-datepicker-header-bg-fallback: #0062AD !default;
$booking-datepicker-header-color: #fff !default;

$booking-datepicker-arrow-bg: #fff !default;
$booking-datepicker-arrow-color: #0062AD !default;

$booking-datepicker-th-bg: #f0f0f0 !default;
$booking-datepicker-th-color: #333 !default;

$booking-datepicker-day-bg: transparent !default;
$booking-datepicker-day-color: #777 !default;
$booking-datepicker-day-disabled-bg: #f7f7f7 !default;
$booking-datepicker-day-disabled-color: #ccc !default;
$booking-datepicker-day-active-bg: #E5ECF2 !default;
$booking-datepicker-day-active-color: #0062AD !default;


/* Layout helpers
========================================================================== */

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
    z-index: 100;
}



/* Interaction Cues
========================================================================== */

.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}



/* Misc visuals
========================================================================== */

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* Datepicker widget
========================================================================== */

.ui-datepicker {
    display: none;
    background-color: $booking-datepicker-bg;
    box-shadow: $booking-datepicker-shadow;

    .ui-datepicker-header {
        position: relative;
        padding: .4em 0;
        background: $booking-datepicker-header-bg-fallback;
        background: $booking-datepicker-header-bg;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        position: absolute;
        top: 0;
        height: 100%;
        width: 30px;
        cursor: pointer;

        .ui-icon {
            position: absolute;
            top: 50%; left: 50%;
            display: block;
            width: 16px;
            height: 16px;
            margin-top: -8px;
            margin-left: -8px;
            overflow: hidden;
            background-color: $booking-datepicker-arrow-bg;
            border-radius: 100px;
            text-indent: 102%;
            white-space: nowrap;

            &:after {
                position: absolute;
                top: 4px;
                height: 0px;
                width: 0px;
                border-color: rgba(#fff, 0);
                border-style: inset;
                content: '';
                transform: scale(.9999);
            }

        }

        &.ui-state-disabled {
            display: none;
        }

    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover {
        background: rgba(#fff, .1);
    }

    .ui-datepicker-prev {
        left: 0;

        .ui-icon:after {
            left: 4px;
            border-width: 4.5px 6px 4.5px 0px;
            border-right-color: $booking-datepicker-arrow-color;
            border-right-style: solid;
        }

    }

    .ui-datepicker-next {
        right: 0;

        .ui-icon:after {
            right: 4px;
            border-width: 4.5px 0px 4.5px 6px;
            border-left-color: $booking-datepicker-arrow-color;
            border-left-style: solid;
        }

    }

    .ui-datepicker-prev-hover {

    }

    .ui-datepicker-next-hover {

    }

    .ui-datepicker-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        color: $booking-datepicker-header-color;
        font-size: 14px;
        text-align: center;

        select {
            font-size: 1em;
            margin: 1px 0;
        }

    }

    select {

        &.ui-datepicker-month,
        &.ui-datepicker-year {
            width: 45%;
        }

    }

    .ui-datepicker-calendar {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0;
    }

    th {
        padding: .5em 0;
        background-color: $booking-datepicker-th-bg;
        border: 0;
        color: $booking-datepicker-th-color;
        font-size: 13px;
        font-weight: normal;
        text-align: center;
    }

    td {
        padding: 0;
        border: 0;
    }

    .ui-state-default {
        display: block;
        padding: .5em .7em;
        background-color: $booking-datepicker-day-bg;
        color: $booking-datepicker-day-color;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
    }

    .ui-state-disabled {

        .ui-state-default {
            background-color: $booking-datepicker-day-disabled-bg;
            color: $booking-datepicker-day-disabled-color;
        }

    }

    .ui-state-active {
        background-color: $booking-datepicker-day-active-bg;
        color: $booking-datepicker-day-active-color;
    }

    .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;

        button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;

            &.ui-datepicker-current {
                float: left;
            }
        }
    }

    /* with multiple calendars */
    &.ui-datepicker-multi {
        width: auto;

        .ui-datepicker-group {
            float: left;

            table {
                width: 95%;
                margin: 0 auto .4em;
            }

        }

        .ui-datepicker-group-last .ui-datepicker-header,
        .ui-datepicker-group-middle .ui-datepicker-header {
            border-left-width: 0;
        }

        .ui-datepicker-buttonpane {
            clear: left;
        }

    }

    &.ui-datepicker-multi-2 .ui-datepicker-group {
        width: 50%;
    }

    &.ui-datepicker-multi-3 .ui-datepicker-group {
        width: 33.3%;
    }

    &.ui-datepicker-multi-4 .ui-datepicker-group {
        width: 25%;
    }

}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;

    .ui-datepicker-prev {
        right: 2px;
        left: auto;
    }

    .ui-datepicker-next {
        left: 2px;
        right: auto;
    }

    .ui-datepicker-prev:hover {
        right: 1px;
        left: auto;
    }

    .ui-datepicker-next:hover {
        left: 1px;
        right: auto;
    }

    .ui-datepicker-buttonpane {
        clear: right;

        button {
            float: left;

            &.ui-datepicker-current {
                float: right;
            }

        }

    }

    .ui-datepicker-group {
        float: right;
    }

    .ui-datepicker-group-last .ui-datepicker-header,
    .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

}
