/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

$copaair-widget-column-gutter: 12px !default;





.copaair-widget {
    padding-left: $copaair-widget-column-gutter;
    padding-right: $copaair-widget-column-gutter;
}

.copaair-widget-layout {
    margin-left: -($copaair-widget-column-gutter);
}

.copaair-widget-layout__item {
    display: inline-block;
    padding-left: $copaair-widget-column-gutter;
    vertical-align: middle;
    width: 100%;
}
