///*------------------------------------*\
//  #RESPONSIVE
//\*------------------------------------*/

// Specific breakpoints for booking form elements.
$booking-palm: 'screen and (max-width: 375px)';
$booking-lap-and-up: 'screen and (min-width: 376px)';
