///*------------------------------------*\
//    #THEME GLOBAL
//\*------------------------------------*/

$copaair-widget-font-color: #6a737b !default;
$copaair-widget-font-size: 13px !default;
$copaair-widget-font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !default;

$copaair-widget-input-bg-color: #eef2f2 !default;
$copaair-widget-input-border: 0 !default;
$copaair-widget-input-color: #0062ad !default;
$copaair-widget-input-font-size: 12px !default;
$copaair-widget-input-radius: 3px !default;
$copaair-widget-input-padding: 7px !default;
$copaair-widget-input-height: $copaair-widget-column-gutter * 3 !default;

$copaair-widget-submit-bg: linear-gradient(#d8b400 0%, #b18b3a 50%) !default;
$copaair-widget-submit-bg-hover: linear-gradient(lighten(#d8b400, 5%) 0%, #b18b3a 50%) !default;
$copaair-widget-submit-border: 1px solid #9d700b !default;
$copaair-widget-submit-dropshadow: inset 0 1px rgba(255, 255, 255, .4) !default;
$copaair-widget-submit-font-color: #fff !default;
$copaair-widget-submit-text-shadow: 0 -1px rgba(0, 0, 0, .5) !default;





