/* ==========================================================================
   THEME
   ========================================================================== */

$booking-font-color: #6A737B !default;
$booking-font-size: 13px !default;
$booking-font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !default;

$booking-input-bg-color: #EEF2F2 !default;
$booking-input-border: 0 !default;
$booking-input-color: #0062AD !default;
$booking-input-font-size: 12px !default;
$booking-input-radius: 3px !default;
$booking-input-padding: 7px !default;
$booking-input-height: $booking-column-gutter * 3 !default;

$booking-datepicker-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2xpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowNjgwMTE3NDA3MjA2ODExODIyQUU3ODNEODZCNzAxNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4MDgyNDk5REUwNjUxMUUzQkNBNUVCNTIzRkUzMDA1NSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4MDgyNDk5Q0UwNjUxMUUzQkNBNUVCNTIzRkUzMDA1NSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzlmNDg1MDQtOTkxMy00YWY4LWI2ZTktM2JiNzY4ZWZkNjM5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA2ODAxMTc0MDcyMDY4MTE4MjJBRTc4M0Q4NkI3MDE0Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+NjmCHQAAAP1JREFUeNpc0E9KQlEUx/GjJAoSiAZaBBm5AEGwBbQG5+USpGELcAUNG0fNGzsMypAGhthAGkhERX+00NTX99TvwcMLn3c89/043vssCAJzdnB2g7R+91TX0QozMZqmmQ3RkBSOcYg3HOEUGQ8zwtq4QB5Z9FHFLV6wj9KK/a8KthU0BXLY0/SMb3r4G0Xs4FnhNdxhC19I4srDU2xgF48KFxQoYYQPTOL+JjipdSjuUjrstajX6rvhMSxWPy9Typr4N5k9W5ps4QXvsYkH9SP90xzvmEXDBVlE+qLusopxGHYDTRoq/OT34Cj+pT6VSfhjgh9bWjpzdL3+CjAAxthabQzpFF4AAAAASUVORK5CYII=") !default;
$booking-datepicker-icon-position: 93% 50% !default;

$booking-submit-bg: linear-gradient(#D8B400 0%, #B18B3A 50%) !default;
$booking-submit-bg-hover: linear-gradient(lighten(#D8B400, 5%) 0%, #B18B3A 50%) !default;
$booking-submit-border: 1px solid #9D700B !default;
$booking-submit-dropshadow: inset 0px 1px rgba(255, 255, 255, 0.4) !default;
$booking-submit-font-color: #fff !default;
$booking-submit-text-shadow: 0px -1px rgba(0, 0, 0, 0.5) !default;





.booking {
    color: $booking-font-color;
    font-family: $booking-font-family;
    font-size: $booking-font-size;
}

.booking-control {
    margin-bottom: $booking-column-gutter;
    height: $booking-input-height;
    padding: $booking-input-padding;
    background-color: $booking-input-bg-color;
    border: $booking-input-border;
    border-radius: $booking-input-radius;
    color: $booking-input-color;
    font-size: $booking-input-font-size;

    &::-moz-placeholder {
        opacity: 1;
    }

}

.booking-datepicker {
    background-image: $booking-datepicker-icon;
    background-position: $booking-datepicker-icon-position;
    background-repeat: no-repeat;
}

.booking-cabin {
    display: inline-block;
    margin-top: $booking-column-gutter;
    margin-bottom: $booking-column-gutter * 2;
    width: 50%;

    @media #{$booking-lap-and-up} {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        line-height: 1.6;
    }

}

.booking-submit {
    background: $booking-submit-bg;
    border: $booking-submit-border;
    box-shadow: $booking-submit-dropshadow;
    color: $booking-submit-font-color;
    text-shadow: $booking-submit-text-shadow;

    &:hover,
    &:focus {
        background-image: $booking-submit-bg-hover;
    }

}
