/* ==========================================================================
   THEME
   ========================================================================== */

$copaair-booking-font-color: $copaair-widget-font-color !default;
$copaair-booking-font-size: $copaair-widget-font-size !default;
$copaair-booking-font-family: $copaair-widget-font-family !default;

$copaair-booking-preset-label: $copaair-booking-font-color !default;
$copaair-booking-preset-label-destination: $copaair-booking-font-color !default;

$copaair-booking-input-bg-color: $copaair-widget-input-bg-color !default;
$copaair-booking-input-border: $copaair-widget-input-border !default;
$copaair-booking-input-color: $copaair-widget-input-color !default;
$copaair-booking-input-placeholder-color: $copaair-booking-input-color !default;
$copaair-booking-input-font-size: $copaair-widget-input-font-size !default;
$copaair-booking-input-font-weight: $copaair-widget-input-font-weight !default;
$copaair-booking-input-text-transform: $copaair-widget-input-text-transform !default;
$copaair-booking-input-radius: $copaair-widget-input-radius !default;
$copaair-booking-input-padding: $copaair-widget-input-padding !default;
$copaair-booking-input-height: $copaair-widget-column-gutter * 3 !default;

$copaair-booking-submit-bg: $copaair-widget-submit-bg !default;
$copaair-booking-submit-bg-hover: $copaair-widget-submit-bg-hover !default;
$copaair-booking-submit-border: $copaair-widget-submit-border !default;
$copaair-booking-submit-dropshadow: $copaair-widget-submit-dropshadow !default;
$copaair-booking-submit-font-color: $copaair-widget-submit-font-color !default;
$copaair-booking-submit-text-shadow: $copaair-widget-submit-text-shadow !default;

$copaair-booking-datepicker-icon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2xpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowNjgwMTE3NDA3MjA2ODExODIyQUU3ODNEODZCNzAxNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4MDgyNDk5REUwNjUxMUUzQkNBNUVCNTIzRkUzMDA1NSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4MDgyNDk5Q0UwNjUxMUUzQkNBNUVCNTIzRkUzMDA1NSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzlmNDg1MDQtOTkxMy00YWY4LWI2ZTktM2JiNzY4ZWZkNjM5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA2ODAxMTc0MDcyMDY4MTE4MjJBRTc4M0Q4NkI3MDE0Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+NjmCHQAAAP1JREFUeNpc0E9KQlEUx/GjJAoSiAZaBBm5AEGwBbQG5+USpGELcAUNG0fNGzsMypAGhthAGkhERX+00NTX99TvwcMLn3c89/043vssCAJzdnB2g7R+91TX0QozMZqmmQ3RkBSOcYg3HOEUGQ8zwtq4QB5Z9FHFLV6wj9KK/a8KthU0BXLY0/SMb3r4G0Xs4FnhNdxhC19I4srDU2xgF48KFxQoYYQPTOL+JjipdSjuUjrstajX6rvhMSxWPy9Typr4N5k9W5ps4QXvsYkH9SP90xzvmEXDBVlE+qLusopxGHYDTRoq/OT34Cj+pT6VSfhjgh9bWjpzdL3+CjAAxthabQzpFF4AAAAASUVORK5CYII=') !default;
$copaair-booking-datepicker-icon-position: 93% 50% !default;

$booking-booking-autocomplete-icon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzAyOUQ2Nzk4MzA1MTFFNDlDQ0NCQkI4RTJGOUI1MUQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzAyOUQ2N0E4MzA1MTFFNDlDQ0NCQkI4RTJGOUI1MUQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDMDI5RDY3NzgzMDUxMUU0OUNDQ0JCQjhFMkY5QjUxRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDMDI5RDY3ODgzMDUxMUU0OUNDQ0JCQjhFMkY5QjUxRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PmeNXx4AAADJSURBVHjaYvz//z8DIcCYvC4BSMVDuQv/zw1aABbHpxmoyQFI7cch7cgEVRRAwHKQTRegGMZmYAJqFADS84G0Ah7ND4H4AxTD2Awgm0G2ggyoZyARMCEFRAA5mmF+EiBVMwuUNoAGnAGaISC/TSBKMyjgkNgwkAjECvg0M6AZggxABioC8QYk19hj04wMDgDxQahikAEOSOKNIHFcmguhpttDNSO7CGSIADCJGmLTDEo9+gSizgCUdEGaF0KdBwMPkFIVPvAAIMAAHUg0bm3F5nkAAAAASUVORK5CYII=') !default;
$booking-booking-autocomplete-icon-position: 93% 50% !default;

$copaair-booking-selectmenu-arrow-color: $copaair-booking-input-color !default;





.copaair-booking {
    position: relative;
    color: $copaair-booking-font-color;
    font-family: $copaair-booking-font-family;
    font-size: $copaair-booking-font-size;

    .copaair-form-control {
        height: $copaair-booking-input-height;
        padding: $copaair-booking-input-padding;
        background-color: $copaair-booking-input-bg-color;
        border: $copaair-booking-input-border;
        border-radius: $copaair-booking-input-radius;
        color: $copaair-booking-input-color;
        font-size: $copaair-booking-input-font-size;
        font-weight: $copaair-booking-input-font-weight;
        text-transform: $copaair-booking-input-text-transform;

        &::placeholder {
            color: $copaair-booking-input-color;
            opacity: 1;
        }

    }

    /* Select menu widgets */
    .ui-selectmenu-button {
        background-color: $copaair-booking-input-bg-color;
        color: $copaair-booking-input-color;

        .ui-icon {
            border-top-color: $copaair-booking-selectmenu-arrow-color;
        }

    }

    .copaair-widget-submit {
        background: $copaair-booking-submit-bg;
        border: $copaair-booking-submit-border;
        box-shadow: $copaair-booking-submit-dropshadow;
        color: $copaair-booking-submit-font-color;
        text-shadow: $copaair-booking-submit-text-shadow;

        &:hover,
        &:focus {
            background-image: $copaair-booking-submit-bg-hover;
            outline: 0;
        }

    }

}

/**
 * Origin/departure preset label
 */
.copaair-booking-preset-label {
    color: $copaair-booking-preset-label;
}

.copaair-booking-preset-label-destination {
    color: $copaair-booking-preset-label-destination;
}


/**
 * Destinations autocomplete form control
 */
.copaair-booking-autocomplete {
    background-image: $booking-booking-autocomplete-icon;
    background-position: $booking-booking-autocomplete-icon-position;
    background-repeat: no-repeat;
}
