/* ==========================================================================
   VISIBILITY
   ========================================================================== */

.copaair-hidden {
    display: none !important;
}

@media #{$copaair-widget-palm} {
    .copaair-hidden-palm { display: none !important; }
}

@media #{$copaair-widget-lap-and-up} {
    .copaair-hidden-lap-and-up { display: none !important; }
}
