/*------------------------------------*\
    #AUTOCOMPLETE
\*------------------------------------*/

/**
 * Datepicker theme for jQuery UI v1.11.2
 * http://jqueryui.com
 * Based on: autocomplete.css
 * Copyright 2014 jQuery Foundation and other contributors; Licensed MIT
 */

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.ui-autocomplete-input {

}
