/*------------------------------------*\
    #MENU
\*------------------------------------*/

/**
 * Datepicker theme for jQuery UI v1.11.2
 * http://jqueryui.com
 * Based on: menu.css
 * Copyright 2014 jQuery Foundation and other contributors; Licensed MIT
 */

$copaair-widget-menu-bg: #fff !default;
$copaair-widget-menu-border: 1px solid #6a737b !default;
$copaair-widget-menu-shadow: 0 1px 2px rgba(#000, .3) !default;
$copaair-widget-menu-padding: 0 !default;

$copaair-widget-menu-item-padding: 5px 7px !default;
$copaair-widget-menu-item-font-size: 11px !default;
$copaair-widget-menu-item-color: #777 !default;
$copaair-widget-menu-item-hover-bg: #e5ecf2 !default;
$copaair-widget-menu-item-hover-color: #777 !default;
$copaair-widget-menu-item-highlight-color: #004982 !default;
$copaair-widget-menu-item-highlight-hover-color: $copaair-widget-menu-item-highlight-color !default;





.ui-menu {
    display: block;
    margin: 0;
    max-height: 175px;
    padding: $copaair-widget-menu-padding;
    overflow-y: scroll;
    background: $copaair-widget-menu-bg;
    border: $copaair-widget-menu-border;
    box-shadow: $copaair-widget-menu-shadow;
    list-style: none;
    outline: none;

    .ui-menu {
        position: absolute;
    }

    .ui-menu-item {
        position: relative;
        margin: 0;
        padding: $copaair-widget-menu-item-padding;
        min-height: 0; /* support: IE7 */
        cursor: pointer;
        /* support: IE10, see #8844 */
        list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
        color: $copaair-widget-menu-item-color;
        font-size: $copaair-widget-menu-item-font-size;

        b {
            color: $copaair-widget-menu-item-highlight-color;
            font-weight: bold;
        }

        &.ui-state-focus,
        &.ui-state-active {
            background-color: $copaair-widget-menu-item-hover-bg;
            color: $copaair-widget-menu-item-hover-color;

            b {
                color: $copaair-widget-menu-item-highlight-hover-color;
            }

        }

    }

    .ui-menu-divider {
        margin: 5px 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-width: 1px 0 0;
    }

    /* left-aligned */
    .ui-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: .2em;
        margin: auto 0;
    }

    /* right-aligned */
    .ui-menu-icon {
        left: auto;
        right: 0;
    }

}

/* icon support */
.ui-menu-icons {
    position: relative;

    .ui-menu-item {
        padding-left: 2em;
    }

}

