<form class="copaair-signup  copaair-widget  copaair-theme-default">
    <div class="copaair-widget-layout">
        <div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="Nombre"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="Apellido"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="email"
                   placeholder="Email"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-widget-submit  copaair-form-control"
                   type="submit"
                   value="Subscribirse">
        </div>
    </div>
    <div class="copaair-widget-layout">
        <div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="País"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="Ciudad"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="tel"
                   placeholder="Móvil"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
        </div>
    </div>
</form>
